body {
    font-family: Montserrat, sans-serif;
    background-color: #cc666d;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
}

